################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/empmgmt/.vs
/empmgmt/empmgmt/bin
/empmgmt/empmgmt/obj
