@model empmgmt.Models.SkillViewModel
@{
    ViewData["Title"] = "Skill";
}

<form method="post" action="Add">

    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="id" readonly>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="name">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>